[submodule "Assets/hcg-extensions"]
	path = Assets/hcg-extensions
	url = git@github.com:Homecooked-Games-Git/hcg-extensions.git
[submodule "Assets/hcg-packagemanager"]
	path = Assets/hcg-packagemanager
	url = git@github.com:Homecooked-Games-Git/hcg-packagemanager.git
[submodule "Assets/hcg-observerservice"]
	path = Assets/hcg-observerservice
	url = https://github.com/Homecooked-Games-Git/hcg-observerservice.git
[submodule "Assets/hcg-utilities"]
	path = Assets/hcg-utilities
	url = git@github.com:Homecooked-Games-Git/hcg-utilities.git
